@page
@model EasyBook.Pages.room1Model
@{
}
<div class="text-center">
	<h1>Meeting room 1 </h1>
	<img src="~/photos/lokal1.jpg" alt="room1" style="max-width: 90%; height: auto; display: block; margin: auto; max-height: 40%;" />
	<p>  Room 1 has a whiteboard, a projector and its capacity is 20 person</p>
</div>

<a href="/index" style="color: black; text-decoration: none; font-weight: bold;">&lt; Tilbage</a>
