@page
@model EasyBook.Pages.room2Model
@{
}
<div class="text-center">
	<h1>Mødelokale 2 </h1>
	<img src="~/photos/lokal2.jpg" alt="room2" style="max-width: 90%; height: auto; display: block; margin: auto; max-height: 40%;" />
	<p style="color: black;">Rum 2 har en whiteboardtavle , en projektor, og dets kapacitet er 25 personer.</p>
</div>

<a href="/index" style="color: black; text-decoration: none; font-weight: bold;">&lt; Tilbage</a>
