@page
@model EasyBook.Pages.room2Model
@{
}
<div class="text-center">
	<h1>Meeting room 2 </h1>
	<img src="~/photos/lokal2.jpg" alt="room2" style="max-width: 90%; height: auto; display: block; margin: auto; max-height: 40%;" />
	<p style="color: black;">Room 2 has a whiteboard, a projector, and its capacity is 25 people.</p>
</div>

<a href="/index" style="color: black; text-decoration: none; font-weight: bold;">&lt; Tilbage</a>
