@page
@model EasyBook.Pages.room3Model
@{
}
<div class="text-center">
	<h1>Meeting room 3 </h1>
	<img src="~/photos/lokal3.jpg" alt="room3" style="max-width: 90%; height: auto; display: block; margin: auto; max-height: 40%;" />
	<p style="color: black;">Rum 3 har en whiteboardtavle og har plads til 10 personer.</p>
</div>

<a href="/index" style="color: black; text-decoration: none; font-weight: bold;">&lt; Tilbage</a>
