@page
@model EasyBook.Pages.room3Model
@{
}
<div class="text-center">
	<h1>Meeting room 3 </h1>
	<img src="~/photos/lokal3.jpg" alt="room3" style="max-width: 90%; height: auto; display: block; margin: auto; max-height: 40%;" />
	<p style="color: black;">Room 3 has a whiteboard and its capacity is 10 people.</p>
</div>

<a href="/index" style="color: black; text-decoration: none; font-weight: bold;">&lt; Tilbage</a>
