@page
@model EasyBook.Pages.room4Model
@{
}
<div class="text-center">
	<h1>Meeting room 4 </h1>
	<img src="~/photos/lokal4.jpg" alt="room4" style="max-width: 90%; height: auto; display: block; margin: auto; max-height: 40%;" />
	<p style="color: black;">Room 4 has a projector and its capacity is 15 people.</p>
</div>

<a href="/index" style="color: black; text-decoration: none; font-weight: bold;">&lt; Tilbage</a>
