@page
@model EasyBook.Pages.room6Model
@{
}
<div class="text-center">
	<h1>Meeting room 6 </h1>
	<img src="~/photos/lokal6.jpg" alt="room6" style="max-width: 90%; height: auto; display: block; margin: auto; max-height: 40%;" />
	<p>  Room 6 has a whiteboard, a projector and its capacity is 30 person</p>
</div>

<a href="/index" style="color: black; text-decoration: none; font-weight: bold;">&lt; Tilbage</a>
