@page
@using EasyBook.Model
@model EasyBook.Pages.CreateModel

    <form method="post">
        <div>
            <label>Navn:</label>
            <input type="text" name="EmployeeName" required />
        </div>
        <div>
            <label>Mødelokale:</label>
            <select name="MeetingRoomId">
                @foreach (MeetingRoom room in Model.MeetingRooms)
                {
                    <option value="@room.Id">@room.Name</option>
                }
            </select>
        </div>
        <div>
            <label>Kommentar:</label>
            <input type="text" name="Comment" />
        </div>
        <button type="submit">Book</button>
    </form>

