@page
@model CreateModel

<h2>Book et mødelokale</h2>

<form method=" post"> <!--Angiver at formularen sendes som en POST anmodning-->
    <div>
        <label>Navn:</label>
        <input type="text" name="EmployeeName" required />
        <!--Felt til medarbejders navn-->
    </div>


    -->
</form>