@page
@model EasyBook.Pages.IndexModel
@{
    ViewData["Title"] = "Mødelokaler";
}
<!-- dette er overskriften-->
 <h1>Mødelokaler</h1>

<!-- dette er en container for hvert enkelt mødelokale-->
 <div class="meeting-room-list">

<!-- Foreach løkken itererer/gennemløb over en liste af mødelokaler, der er tilgængelige. -->
    @foreach (EasyBook.Models.MeetingRoom room in Model.MeetingRooms)
    { 
    <div class="meeting-room">
    <h2>@room.Name</h2>
    <p>Kapacitet:@room.Capacity personer</p>
    <p>Tilgængelighed: @(room.IsAvailable ? "Ledig" : "Optgaet")</p>
    @if(room.IsAvailable)
    {
      <a href="/Booking?roomId=@room.Id">Book dette lokale</a>
    }
</div>
  }
</div>



