@page
@model EasyBook.Pages.room2Model
@{
}
<div class="text-center">
	<h1>Meeting room 2 </h1>
	<img src="~/photos/lokal2.jpg" alt="room2" style="max-width: 90%; height: auto; display: block; margin: auto; max-height: 40%;" />
	<p>  Room 2 has a whiteboard, a projector and its capacity is 15 person</p>
</div>

<a href="/index" class="link-light">&lt; Tilbage</a>